<% title "Comment" %>

<p>
  <strong>Blog:</strong>
  <%=h @comment.blog %>
</p>
<p>
  <strong>First Name:</strong>
  <%=h @comment.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%=h @comment.last_name %>
</p>
<p>
  <strong>Message:</strong>
  <%=h @comment.message %>
</p>

<p>
  <%= link_to "Edit", edit_blog_comment_path(@blog, @comment) %> |
  <%#= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%#= link_to "View All", comments_path %>
</p>
